$primary-color: #091329;
$primary-light-color:#37C4E9;
$secondary-color:white;
$background-color:#202020;


$sideBarWidth:7rem;
$normalFontSize:1.2rem;

header {
    background: black;
    height: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    nav{
        display: flex;
        justify-content: space-between;
        height: 100%;
        .part{
            align-self: center;
            a{
                margin-right: 1rem;
            }
        }
    }
}
.body {
    display: flex;
    color: white;
    
    .side-bar{
        width: $sideBarWidth;
        background: black;
        position: fixed;
        height: 100vh;
        .side-bar-item{
            width: $sideBarWidth;
            height: $sideBarWidth;
            margin-bottom: .1rem;
            background: $primary-color;
            align-items: center;
            display: flex;
            justify-content: center;
            cursor: pointer;

            svg{
                path{
                    stroke:'white';
                }
            }
            &.active{
                svg{
                    path{
                        stroke:$primary-light-color;
                    }
                }
            }
        }
    }
    .content{
        background-color: $background-color;
        width: 100%;

        .chartContent{
            width: 100%;
            margin-left: $sideBarWidth;
            .chartPanel{
                background-color: $background-color;
                display: flex;
                .chartSymbolPanel{
                    width: 20rem;
                    height: calc(100vh - 6rem);
                    border-left: 1px solid white;
                    border-right: 1px solid white;
                    overflow-y: auto;
                    
                    .chartSymbolItem{
                        border-bottom: 1px solid white;
                        font-size: $normalFontSize;
                        cursor: pointer;
                        display: flex;
                        text-align: center;
                        .chartSymbolItemName{
                            width: 12rem;
                            padding-top: 0.7rem;
                            padding-bottom: 0.7rem;
                            &:hover{
                                background-color: rgb(255 255 255 / 20%);
                            }
                        }
                        .chartSymbolItemAct{
                            width: 4rem;
    
                            border-left: 1px solid white;
                            border-right: 1px solid white;
                            padding-top: 0.5rem;
                            &:hover{
                                background-color: rgb(255 255 255 / 20%);
                            }
                        }
                        .chartSymbolItemGraph{
                            width: 4rem;
                            padding-top: 0.5rem;
    
                        }
                    }
                }
                .chartGraphPanel{
                    width: calc(100% - 27rem);
                }
            }
        }
        .initialContent{
            width: 100%;
            min-height: calc(100vh - 6rem);
            display: flex;
            .postCategory{
                width: $sideBarWidth;
                font-size: $normalFontSize;
                .item{
                    border: 0.5px solid;
                    text-align: center;
                    padding-top: 0.7rem;
                    padding-bottom: 0.7rem;
                    cursor: pointer;
                    &.active{
                        color: $primary-light-color;
                    }
                }
            }
            .postContent{
                padding-top: 1rem;
                width: 100%;
                .title{
                    text-align: center;
                }
            }
        }
    }
    
    
}
/**
*************Utils
*/
/*Header DropDown*/
.dropdown {
    float: left;
    // overflow: hidden;
    .dropbtn {
        
        border: none;
        outline: none;
        
        background-color: inherit;
        font-family: inherit; /* Important for vertical align on mobile phones */
        margin: 0; /* Important for vertical align on mobile phones */
        color: white;    
        font-size: 40px;
        cursor: pointer;
        &:hover{
            color: rgb(155, 153, 153);    
        }
    }
    .dropdown-content {
        top: 50px;
        width: 150px;
        left: -5rem;
        display: none;
        position: absolute;
        background-color: $background-color;
        border: 1px solid white;
        z-index: 1;
        a {
            float: none;
            color: white;    
            padding: 15px 15px;
            text-decoration: none;
            display: block;
            text-align: left;
            &:hover{
                color: rgb(148, 148, 148);
            }
        }
    }
    &:hover{
        .dropdown-content{
            display: block;
        }
    }
  }
/**/
/*Modal*/
.custom-modal{
    
    .modal-dialog{
        .modal-content{
            border: 1px solid white;
            border-radius: 0px;
            color: white;
            background-color: $background-color;
            #modalchart{
                height: 80vh;
            }
        }
    }
}
/**/
/**/